<div style="height:100%;">
    <div>Текущая секунда - {{currentSecond || 0}}</div>
    <div>Карточка управления</div>
    <div>
        <input type="checkbox" [(ngModel)]="isChecked" (change)="state.editModePlaybackPause$.emit(!isChecked)" />
            <!--Use pause regime, it will pause video near the end of current subtitles chunk if its in edit mode -->
            Использовать режим паузы, этот режим будет пазуить видео примерно в конце текущего отрывка субтитров, в случае, если он будет в режиме редактирования
        <!--<a id="controlTooltip" class="btn tooltipped" data-position="bottom"
         data-delay="50" data-tooltip="I am tooltip">Hover me!</a>-->
    </div>
    <div>
        <!--<button md-button>LIKE</button>
        <button md-button>SHARE</button>-->
    </div>
</div>